In [5]:
op=open("record.json","r")
r=op.read()
op.close()

In [6]:
import json

In [7]:
record=json.loads(r)

In [8]:
record

{'3001': {'name': 'chocolates', 'price': 10, 'quant': 79},
 '3002': {'name': 'ice cream', 'price': 25, 'quant': 55},
 '3003': {'name': 'pen', 'price': 10, 'quant': 57},
 '3004': {'name': 'pencil', 'price': 5, 'quant': 63},
 '3005': {'name': 'carrom board', 'price': 120, 'quant': 24},
 '3006': {'name': 'shuttle bats', 'price': 100, 'quant': 49},
 '3007': {'name': 'drinks', 'price': 60, 'quant': 42},
 '3008': {'name': 'cake', 'price': 20, 'quant': 30},
 '3009': {'name': 'soaps', 'price': 35, 'quant': 8},
 '3010': {'name': 'phones', 'price': 2000, 'quant': 24},
 '3011': {'name': 'televisions', 'price': 3500, 'quant': 10},
 '3012': {'name': 'bangles', 'price': 50, 'quant': 19},
 '3013': {'name': 'nail polishs', 'price': 20, 'quant': 78},
 '3014': {'name': 'tooth brushes', 'price': 40, 'quant': 41},
 '3015': {'name': 'ear rings', 'price': 67, 'quant': 33},
 '3016': {'name': 'lipsticks', 'price': 32, 'quant': 30},
 '3017': {'name': 'phone case', 'price': 150, 'quant': 46},
 '3018': {'name': 'power bank', 'price': 3400, 'quant': 20},
 '3019': {'name': 'rings', 'price': 10, 'quant': 43},
 '3020': {'name': 'chains', 'price': 30, 'quant': 20},
 '3021': {'name': 'clips', 'price': 5, 'quant': 30},
 '3022': {'name': 'chairs', 'price': 1032, 'quant': 36},
 '3023': {'name': 'sofa', 'price': 32132, 'quant': 6},
 '3024': {'name': 'washing machine', 'price': 53222, 'quant': 3},
 '3025': {'name': 'laptops', 'price': 48000, 'quant': 2},
 '3026': {'name': 'AC', 'price': 23232, 'quant': 7},
 '3027': {'name': 'face packs', 'price': 32, 'quant': 21},
 '3028': {'name': 'fridge', 'price': 45677, 'quant': 5},
 '3029': {'name': 'teddy bears', 'price': 300, 'quant': 10},
 '3030': {'name': 'shampoos', 'price': 3, 'quant': 90},
 '5': {'name': 'keyboard', 'price': 6567, 'quant': 8},
 '7': {'name': 'mouse', 'price': 6768, 'quant': 78}}

In [9]:
d={}

In [21]:
pr_id=input("enter product id")
if pr_id in record:
    quantity=int(input("enter quantity"))
    if(quantity<=record[pr_id]["quant"]):
        cus_name=input("enter your name")
        ph_no=int(input("enter phone number"))
        print()
        print("***********************")
        print()
        print("Customer_name ",cus_name)
        print()
        print("customer phone number",ph_no)
        print()
        print("Product ID: ",pr_id)
        print()
        print("Name: ", record[pr_id]["name"])
        print()
        print("Price: ",record[pr_id]["price"])
        print()
        print("Quantity: ",quantity)
        print()
        print("------------------------")
        print()
        print("Billing Amout: ", record[pr_id]["price"]*quantity)
        print()
        print("***********************")
        d[len(d)+1]={"Customer_name":cus_name,"product_ID":pr_id,"quantity":quantity,"amount":record[pr_id]["price"]*quantity,"phone_no":ph_no}
        record[pr_id]["quant"]=record[pr_id]["quant"]-quantity
    else:
        print("Sorry,we have only "+str(record[pr_id]["quant"])+ " quantities")
else:
    print("Sorry,your item is not available")

enter product id3022
enter quantity1
enter your namebharati
enter phone number8765432

***********************

Customer_name  bharati

customer phone number 8765432

Product ID:  3022

Name:  chairs

Price:  1032

Quantity:  1

------------------------

Billing Amout:  1032

***********************

In [22]:
d

{1: {'Customer_name': 'mouni',
  'product_ID': '3001',
  'quantity': 5,
  'amount': 50,
  'phone_no': 665432111},
 2: {'Customer_name': 'padu',
  'product_ID': '3006',
  'quantity': 3,
  'amount': 300,
  'phone_no': 786645},
 3: {'Customer_name': 'pushpa',
  'product_ID': '3027',
  'quantity': 5,
  'amount': 160,
  'phone_no': 5566878},
 4: {'Customer_name': 'srinu',
  'product_ID': '3015',
  'quantity': 8,
  'amount': 536,
  'phone_no': 787643},
 5: {'Customer_name': 'suresh',
  'product_ID': '3003',
  'quantity': 1,
  'amount': 10,
  'phone_no': 5434567},
 6: {'Customer_name': 'lavanya',
  'product_ID': '3019',
  'quantity': 7,
  'amount': 70,
  'phone_no': 76543245},
 7: {'Customer_name': 'chandana',
  'product_ID': '3022',
  'quantity': 4,
  'amount': 4128,
  'phone_no': 6543212345},
 8: {'Customer_name': 'vinay',
  'product_ID': '3025',
  'quantity': 1,
  'amount': 48000,
  'phone_no': 345678},
 9: {'Customer_name': 'padmavati',
  'product_ID': '3028',
  'quantity': 2,
  'amount': 91354,
  'phone_no': 876543},
 10: {'Customer_name': 'venkat',
  'product_ID': '3011',
  'quantity': 5,
  'amount': 17500,
  'phone_no': 876543},
 11: {'Customer_name': 'bharati',
  'product_ID': '3022',
  'quantity': 1,
  'amount': 1032,
  'phone_no': 8765432}}

In [18]:
record

{'3001': {'name': 'chocolates', 'price': 10, 'quant': 79},
 '3002': {'name': 'ice cream', 'price': 25, 'quant': 55},
 '3003': {'name': 'pen', 'price': 10, 'quant': 57},
 '3004': {'name': 'pencil', 'price': 5, 'quant': 63},
 '3005': {'name': 'carrom board', 'price': 120, 'quant': 24},
 '3006': {'name': 'shuttle bats', 'price': 100, 'quant': 49},
 '3007': {'name': 'drinks', 'price': 60, 'quant': 42},
 '3008': {'name': 'cake', 'price': 20, 'quant': 30},
 '3009': {'name': 'soaps', 'price': 35, 'quant': 8},
 '3010': {'name': 'phones', 'price': 2000, 'quant': 24},
 '3011': {'name': 'televisions', 'price': 3500, 'quant': 10},
 '3012': {'name': 'bangles', 'price': 50, 'quant': 19},
 '3013': {'name': 'nail polishs', 'price': 20, 'quant': 78},
 '3014': {'name': 'tooth brushes', 'price': 40, 'quant': 41},
 '3015': {'name': 'ear rings', 'price': 67, 'quant': 33},
 '3016': {'name': 'lipsticks', 'price': 32, 'quant': 30},
 '3017': {'name': 'phone case', 'price': 150, 'quant': 46},
 '3018': {'name': 'power bank', 'price': 3400, 'quant': 20},
 '3019': {'name': 'rings', 'price': 10, 'quant': 43},
 '3020': {'name': 'chains', 'price': 30, 'quant': 20},
 '3021': {'name': 'clips', 'price': 5, 'quant': 30},
 '3022': {'name': 'chairs', 'price': 1032, 'quant': 36},
 '3023': {'name': 'sofa', 'price': 32132, 'quant': 6},
 '3024': {'name': 'washing machine', 'price': 53222, 'quant': 3},
 '3025': {'name': 'laptops', 'price': 48000, 'quant': 2},
 '3026': {'name': 'AC', 'price': 23232, 'quant': 7},
 '3027': {'name': 'face packs', 'price': 32, 'quant': 21},
 '3028': {'name': 'fridge', 'price': 45677, 'quant': 5},
 '3029': {'name': 'teddy bears', 'price': 300, 'quant': 10},
 '3030': {'name': 'shampoos', 'price': 3, 'quant': 90},
 '5': {'name': 'keyboard', 'price': 6567, 'quant': 8}}

In [23]:
js=json.dumps(record)

In [24]:
op=open("record.json","w")
op.write(js)
op.close()

In [25]:
sale=json.dumps(d)

In [26]:
wr=open("sales.json","w")
wr.write(sale)
wr.close()